<div class="flex items-center mb-16">
  <!-- loan offering  -->
  <div class="flex items-center relative">
    <a routerLink="loan-offer">
      <div class="rounded-full transition duration-500 ease-in-out h-5 w-5 bg-gray-300"
      [routerLinkActive]="['princeps-bg']">
      </div>

      <div class="absolute top-0 -ml-14 text-center mt-10 w-40 font-semibold" [routerLinkActive]="['princeps-text']">
        Loan Offering
      </div>
    </a>
  </div>
  <div class="w-36 mx-6 border-t-2 transition duration-500  ease-in-out border-gray-300"></div>

  <!-- facial recognition  -->
  <div class="flex items-center relative">
    <a routerLink="facial-recognition">
      <div class="rounded-full transition duration-500 ease-in-out h-5 w-5 bg-gray-300"
      [routerLinkActive]="['princeps-bg']">
      </div>

      <div
        class="absolute top-0 -ml-14 text-center mt-10 w-40 font-semibold" [routerLinkActive]="['princeps-text']">
        Facial Recognition
      </div>
    </a>
  </div>
  <div class="w-36 mx-6 border-t-2 transition duration-500  ease-in-out border-gray-300"></div>

  <!-- completed  -->
  <div class="flex items-center relative">
    <a routerLink="completed">
      <div class="rounded-full transition duration-500 border-gray-300 ease-in-out h-5 w-5 flex items-center"   style="border-width:2px ;" [routerLinkActive]="['princeps-border']">
      <svg xmlns="http://www.w3.org/2000/svg" [routerLinkActive]="['princeps-text']" class="h-5 w-5 text-gray-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
      </svg>
      </div>
      <div class="absolute top-0 -ml-14 text-center mt-10 w-40 font-semibold" [routerLinkActive]="['princeps-text']">
        Completed
      </div>
    </a>
  </div>
</div>
